{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sitio web personal." />
    <meta name="keywords" content="personal, web, website, portfolio, portafolio, developer, desarollador" />
    <meta name="author" content="Elias Guere" />
    <!-- Google meta-tags -->
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />
    <meta name="robots" content="index, nofollow" />
    <!-- Open Graph meta-tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Elias Guere" />
    <meta property="og:description" content="Sitio web personal." />
    <!-- Twitter meta-tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:creator" content="@eliasg1025" />
    <meta property="twitter:title" content="Elias Guere" />
    <meta property="twitter:description" content="Sitio web personal" />
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <title>Elias Guere</title>
</head>

<body>
    <main class="container py-4">
        {% block page_content %}
        {% endblock %}
    </main>

    <footer class="text-center h-20">
        <div class="container p-4">
            <p>&copy;2022 Elias Guere. All rights Reserved.</p>
        </div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
